
/* ====== foooter part strat here ====== */
#footer{
    background-color: #1C1E53;
    padding-top: 95px;
}
.footer_img p{
    margin-top: 22px;
    margin-bottom: 86px;
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.8;
}
.footer_mail{
    width: 517px;
    height: 95px;
    background-color: #FCD980;
    display: flex;
    align-items: center;
    transition: all linear 0.3s;
}
.footer_mail:hover{
    background-color: #BBBBCB;
    cursor: pointer;
}
.footer_mail .mail_one{
    margin-right: 29px;
}
.mail_one h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
    margin-left:37px ;
}
.mail_one h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
    margin-left:37px ;
}
.mail_two h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}
.mail_two h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}
.footer_content_item h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    
}
.footer_content_item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
}
.footer_icon{
    width:16px;
    height:15.9px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_icon i{
    color:#fff;
    cursor: pointer;
    transition: all linear 0.3s;
}
.footer_icon i:hover{
    color:#ffb700
}
.footer_icon_main{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
#footer_last{
    padding: 32px 0;

}
.nav_footer{
    display: flex;
    column-gap: 22px;
}
.nav_item .nav_link{
    color:#000;
    transition: all linear 0.3s;
}
.nav_item .nav_link:hover{
    color:#2405F2
}
.footer_span span{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../images/plus.svg");
}