/* ====== frequendly part start here ==== */
#frequendly{
    padding:130px 0;

}
.one_acc{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.one_acc .one_pera{
    color:#2405F2
}
.fre_heading h4{
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
    padding:0 20px;
    
}
.fre_heading a{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center; 
    color: #2405F2;
    opacity: 0.87;
    margin-left: 20px;
}
.fre_pera .span_one{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2405F2;
    margin-right: 48px;
}
.fre_pera .span_one_one{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
}
