@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

/* ====== nav_bar start here ====== */
#nav {
  background: #1C1E53;
  color: #fff;
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  padding: 16px 0;
}
.nav_item_suv:hover{
  opacity: 1;
}

.nav-item a {
  color: #BBBBCB;
}

#nav .nav-item .nav-link {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  transition: all linear 0.3s;
}

#nav .nav-item .nav-link:hover {
  color: #fff;
}

#nav .navbar-nav {
  -moz-column-gap: 32px;
	column-gap: 32px;
	margin-right: 48px;
	text-transform: capitalize;
}

#nav .nav_btn {
  border-radius: 41px;
  padding: 16px 48px;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #BBBBCB;
  transition: all linear 0.3s;
}
#nav .nav_btn:hover {
  background-color: #FCD980;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: absolute;
	background-color: #226782;
	
}


/* ======= bannner part start here====== */
#banner{
    background-color: #F4F6FC;
    padding:96px 0;
}
.banner_main h3{
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.banner_main h1{
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.banner_main p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	opacity: 0.8;
	padding: 0px 270px;
}
.banner_icon_box {
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	margin-top: 32px;
}
.banner_icon_box a{
  color:#333;
  transition: all linear 0.3s;
}
.banner_icon_box a:hover{
  color:rgb(255, 132, 0)
}
/* ===== template part start here ===== */
#template{
    padding:128px 0;
    
}
.tem_heading {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 32px;
}
.tem_heading h3{
  text-transform: capitalize;
  font-weight: 500;
  line-height: 32px;
  font-size: 18px;
  margin-bottom: 48px;
  transition: all linear 0.3s;
}
.tem_heading h3:hover{
  color:#2405F2;
  cursor: pointer;
}
.tem_img img{
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-bottom: 24px;
}
.tem_con_box h2{
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;

}
.tem_con_box p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  opacity: 0.8;
  margin-bottom: 24px;
  text-align: justify;
}
.tem_con_box a{
  color:#333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  transition: all linear 0.3s;
}
.tem_con_box i{
  margin-left: 10px;
}
.tem_con_box a:hover{
  color:#ffb700
}
.tem_margin{
  margin-top: 64px;
}
/* ===== build part start here ==== */
#build{
  padding-bottom: 128px;
}
.build_content{
  text-align: center;
}
.build_content h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  padding:0 220px;
  margin-bottom: 20px;
}
.build_content p {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	padding: 0 361px;
	margin-bottom: 40px;
	opacity: 0.8;
}

.build_content a{
  padding:16px 66px;
  background-color: #FCD980;
  display: inline-block;
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color:#333;
  transition: all linear 0.3s;
}
.build_content a:hover{
  background-color: #1C1E53;
  color:#fff;
}
/* ====== foooter part strat here ====== */
#footer {
    background-color: #1C1E53;
  padding-top: 95px;
}

.footer_img p {
  margin-top: 22px;
  margin-bottom: 86px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.8;
}

.footer_mail {
  width: 517px;
  height: 95px;
  background-color: #FCD980;
  display: flex;
  align-items: center;
  transition: all linear 0.3s;
}

.footer_mail:hover {
  background-color: #BBBBCB;
  cursor: pointer;
}

.footer_mail .mail_one {
  margin-right: 29px;
}

.mail_one h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
  margin-left: 37px;
}

.mail_one h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
  margin-left: 37px;
}

.mail_two h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}

.mail_two h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}

.footer_content_item h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}

.footer_content_item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #F4F6FC;
  opacity: 0.8;
}

.footer_icon {
  width: 16px;
  height: 15.9px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon i {
  color: #fff;
  cursor: pointer;
  transition: all linear 0.3s;
}

.footer_icon i:hover {
  color: #ffb700;
}

.footer_icon_main {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

#footer_last {
  padding: 32px 0;
}

.nav_footer {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
}

.nav_item .nav_link {
  color: #000;
  transition: all linear 0.3s;
}

.nav_item .nav_link:hover {
  color: #2405F2;
}

.footer_span span {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/plus.svg");
}/*# sourceMappingURL=style.css.map */